<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>Hello World from HTML by Koding</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="//koding.com/hello/css/style.css">
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
<link rel='stylesheet' href='/resources/tutorial/css/example.css'/>

</head>
<body class="php">

<div id="container">
  <div id="main" role="main" class="hellobox">
    <header><a href="http://koding.com">Koding.com</a></header>
    <h1>Hello TUESDAY!</h1>
    <h2>From Bernard
    </h2>
  </div>
  <nav>
    <ul>
      <li><a class="active" href="index.html">HTML</a></li>
      <li><a href="php.php">PHP</a></li>
      <li><a href="python.py">Python</a></li>
      <li><a href="perl.pl">Perl</a></li>
      <li><a href="ruby.rb">Ruby</a></li>
    </ul>
  </nav>
  
  <footer>
    <h4>First Lab on Angular & Firebase: My Chat App!</h4>
    <p>Come on lets chat!<p>
    <pre>
    <div ng-controller="MyController">
    <!-- CHAT MARKUP -->
    <div class='example-chat l-demo-container'>
      <header>Firebase Chat Demo</header>

      <div class='example-chat-toolbar'>
        <label for='nameInput'>Username:</label>
        <input ng-model='name' type='text' id='nameInput' placeholder='enter a username...'>
        <label for='msg'>Message:</label>
        <input ng-model='msg' ng-keydown="addMessage($event)" type='text' id='messageInput'  placeholder='Type a message...'>
        <br><br>
        <a href="http://chestercheong.github.io/IS429/exercise2.html">Check Out this link to Chester!</a>
      </div>
     
      <ul id='example-messages' class='example-chat-messages'>
        <li ng-repeat='msg in messages'>
          <strong class='example-chat-username'>{{msg.from}}</strong>
          {{msg.body}}
        </li>
      </ul>
    </div>
    </div>
    <script>
      var myApp = angular.module("myApp", ["firebase"]);

      myApp.controller('MyController', ['$scope', '$firebase',
        function($scope, $firebase) {
          //CREATE A FIREBASE REFERENCE
          var ref = new Firebase("https://bernardfirebase.firebaseio.com/");

          // GET MESSAGES AS AN ARRAY
          $scope.messages = $firebase(ref).$asArray();

          //ADD MESSAGE METHOD
          $scope.addMessage = function(e) {

            //LISTEN FOR RETURN KEY
            if (e.keyCode === 13 && $scope.msg) {
              //ALLOW CUSTOM OR ANONYMOUS USER NAMES
              var name = $scope.name || 'anonymous';

              //ADD TO FIREBASE
              $scope.messages.$add({
                from: name,
                body: $scope.msg
              });

              //RESET MESSAGE
              $scope.msg = "";
            }
          }
        }
      ]);
    </script>
    </pre>
  </footer>
</div>
</body>
</html>




